picture {
  text-align: center;
  display: block;
  border: 3px solid #ffc0cb;
  width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

p {
  font-size: 27px;
}

a {
  font-size: 23px;
}
