.favorites {
    width: 80%;
    margin: 30px auto;

    .favorites-title {
        text-align: center;
        font-size: 30px;
        font-family: $primaryFont;
    }

    .favorites-grid {
        display: grid;
        grid-template-columns: auto;
        .grid-item {
            text-align: center;
            margin: 40px auto;
            font-family: $primaryFont;
            .teacher-img {
                width: 70%;
                border-radius: 50%;
                border: 5px solid #ff9cad;
                transition: all 0.5s ease;
                &:hover {
                    border-color: #b8384d;
                }
            }
            .teacher-name {
                font-size: 30px;
            }
            .country {
                font-size: 20px;
                font-weight: 100;
            }
        }
        
    }

}