@media only screen and (max-width: 1200px) {
  .nav {
    .nav-links {
      .nav-links-list {
        margin-right: 20px;
        .nav-links-link {
          font-size: 25px;
        }
      }
    }
    .add-teacher-btn {
      .popup-shower {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    .logo {
      font-size: 20px;
    }
    .search-bar {
      .search-input {
        width: 250px;
        font-size: 15px;
        margin-right: 20px;
        &:hover {
          width: 300px;
        }
      }
      .search-btn {
        font-size: 15px;
      }
    }
  }
  .nav {
    .nav-links {
      .nav-links-list {
        margin-right: 20px;
        .nav-links-link {
          font-size: 25px;
        }
      }
    }
    .add-teacher-btn {
      .popup-shower {
        font-size: 20px;
      }
      .popup-content {
        width: 500px;
        height: 700px;
        .popup-closer {
            font-size: 40px;
        }
        .add-teacher-h1 {
          font-size: 30px;
          margin-bottom: 0;
        }
      }
    }
  }
  .top-teachers {
    .teachers-title {
      font-size: 25px;
    }
    .sorter {
      .sorter-form {
        .sorter-label {
          font-size: 15px;
          margin: 0 10px;
        }
        .sorter-select {
          font-size: 13px;
          padding: 5px;
        }
      }
    }
    .teachers-grid {
      grid-template-columns: auto;
      .grid-item {
        .teacher-name {
          font-size: 20px;
        }
        .subject {
          font-size: 15px;
        }
      }
    }
    .popup-wrapper2 {
        .popup-content2 {
            width: 700px;
            height: 500px;
            .popup-closer2 {
                font-size: 40px;
            }
            .teacher-info {
                .all-info {
                    line-height: 40px;
                    .teacher-name {
                        font-size: 30px;
                    }
                    .subject-popup {
                        font-size: 20px;
                    }
                    .teacher-info-popup {
                        font-size: 13px;
                    }
                }
            }
        }
    }

  }
  .statistics {
      .stat-title {
        font-size: 25px;
      }
  }
  .favorites {
    .favorites-title {
        font-size: 25px;
    }
    .favorites-grid {
        grid-template-columns: auto;
        .grid-item {
            .teacher-name {
                font-size: 20px;
            }
            .country {
                font-size: 15px;
            }
            .popup-shower2 {
                font-size: 15px;
            }
        }
    }
  }
  .footer {
      .footer-content {
          font-size: 18px;
          line-height: 25px;
      }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 90%;
    .search-bar {
      .search-input {
        width: 230px;
        padding: 5px;
        margin-right: 10px;
        &:hover{
        width: 250px;
      }
      }
      .search-btn {
        padding: 10px 15px;
        font-size: 14px;
      }
    }
  }
  .nav {
    width: 90%;
    .nav-links {
      .nav-links-list {
        .nav-links-link {
          font-size: 15px;
          font-weight: 900;
        }
      }
    }
    .add-teacher-btn {
      .popup-shower {
        font-size: 15px;
      }
    }
  }
  .top-teachers {
    width: 90%;
    .sorter {
      .sorter-form {
        .sorter-label {
          margin: 0 5px;
        }
        .sorter-select {
          padding: 3px;
        }
      }
    }
    .teachers-grid {
      grid-template-columns: auto;
    }
    .popup-wrapper2{
        .popup-content2{
            width: 550px;
            height: 500px;
            .popup-closer2{
                font-size: 30px;
            }
            .teacher-info {
                .teacher-img {
                      width: 250px;
                    }
                .all-info {
                    line-height: 30px;
                    .teacher-name {
                        font-size: 30px;
                    }
                    .subject-popup {
                        font-size: 20px;
                    }
                    .teacher-info-popup {
                        font-size: 13px;
                    }
                }
            }
        }
    }
  }
  .favorites {
    .favorites-title {
        font-size: 25px;
    }
    .favorites-grid {
        grid-template-columns: auto;
    }
  }
  .footer{
      .footer-content {
          font-size: 15px;
      }
  }
}