.popup-checkbox,
.popup {
  display: none;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
 
  &:before {
    display: block;
    content: " ";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $blackColor;
    opacity: 0.5;
  }

  .popup-content {
    width: 600px;
    height: 850px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $whiteColor;
    border-radius: 10px;
    box-shadow: 0 0 20px $blackColor;
    font-family: $primaryFont;

    .popup-closer {
      position: absolute;
      top: 15px;
      right: 40px;
      color: $whiteColor;
      font-size: 50px;
      font-weight: 900;
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.3);
      }
    }
    .add-teacher-h1 {
        font-size: 40px;
        margin-bottom: 10px;
        background-color: $greyColor;
        color: $whiteColor;
        padding: 20px;
    }
    .add-teacher-popup {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;

        .add-teacher-popup-label {
            font-size: 20px;
            margin: 10px 0 5px 0;
        }
        .add-teacher-popup-input {
            border: 1px solid;
            border-radius: 4px;
            padding: 8px;
            font-size: 18px;
        }
        .add-teacher-popup-input-select {
            border-radius: 4px;
            padding: 8px;
            font-size: 18px;
        }
        .country-section {
            margin: 10px 0;
            .add-teacher-popup-input-select {
                margin-right: 10px;
            }
        }
        .contact-section {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            .add-teacher-popup-input {
                width: 35%;
            }
        }

        .gender-section{
            .add-teacher-popup-input {
                margin-right: 20px;
            }
        }
        input[type=color] .add-teacher-popup-input {
            padding: 0;
        }
        .add-teacher-popup-textarea {
            resize: none;
            padding: 8px;
            font-size: 18px;
        }
        input[type=submit] .add-teacher-popup-submit {
          margin-top: 20px;
          padding: 5px;
          border: 1px solid $orangeColor;
          background-color: $whiteColor;
          color: $orangeColor;
        }
    }
  }
}

.popup-shower {
  font-family: $primaryFont;
  font-size: 35px;
  font-weight: 600;
  color: $orangeColor;
  border: 1px solid;
  padding: 10px 30px;
  transition: all 0.5s ease;
  &:hover {
    color: $whiteColor;
    background-color: $orangeColor;
  }
}
