.statistics {
  width: 80%;
  margin: 30px auto;

  .stat-title {
    text-align: center;
    font-size: 30px;
    font-family: $primaryFont;
  }

  .pagination {
    font-family: $primaryFont;
    .pagination-link {
      color: #8ba2b6;
      margin: 0 10px;
    }
    .active {
      color: $blackColor;
    }
  }
}
