.top-teachers {
    width: 80%;
    margin: 30px auto;

    .teachers-title {
        text-align: center;
        font-size: 30px;
        font-family: $primaryFont;
    }

    .sorter {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: $primaryFont;
            margin: 40px auto;
            .sorter-form {
                .sorter-label {
                    font-size: 20px;
                    margin: 0 20px;
                    color: $greyColor;
                }
                .sorter-select {
                    font-size: 17px;
                    padding: 10px;
                    border-radius: 3px;
                }
            }
        }
    .teachers-grid {
        display: grid;
        grid-template-columns: auto;

        .grid-item {
            text-align: center;
            margin: 40px auto;
            font-family: $primaryFont;
            .teacher-img {
                width: 70%;
                border-radius: 50%;
                border: 5px solid #ff9cad;
                transition: all 0.5s ease;
                &:hover{
                    border-color: #b8384d;
                }
            }
            .teacher-name {
                font-size: 30px;
            }
            .subject {
                font-size: 20px;
                color: $greyColor;
                font-weight: 100;
            }
        }
    }
}