* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

label {
  font-size: 15px;
  margin: 5px 0;
}

input, select, textarea {
  padding: 5px;
  font-size: 15px;
} 


table {
  width: 100%;
  margin: 30px auto;
  border-collapse: collapse;
  font-family: $primaryFont;

  thead,
  th {
    border-bottom: 1px solid $blackColor;
    font-size: 25px;
    padding: 6px 0;
    &:hover {
      background-color: #f0f0f0;
      border-bottom: 2px solid;
    }
    &:hover::after{
      display: inline;
      margin: 6px 10px;
    }
  }

  tbody {
    text-align: center;

    tr:nth-child(even) {
      background-color: #feeaff;
    }

    td {
      padding: 10px;
    }
  }
}