@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap');

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Noto Sans Georgian', sans-serif;
$orangeColor: #ff6600;
$whiteColor: #fff;
$blackColor: #000;
$redColor: #ff0000;
$greyColor: #808080;